<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- indexRender.title.innerHTML %> 
    </title>
    <link rel="stylesheet" href="css/materialize.min.css">
</head>
<body>
    <h1>
        <%- indexRender.h1.innerHTML %>
    </h1>
    <%- include("../partials/description.ejs") %>
</body>
</html>