<div class="card-panel">
    <h4 class="green-text text-darken-2">Welcome to your first ECP</h4>
    <div class="flow-text">
        <p>This project aims to help you in:</p>
        <ul class="collection browser-default">
            <li class="collection-item">Creating projects using a Backend Framework with tools like EJS, Mongoose, and Express</li>
            <li class="collection-item">Templating and organizing your projects using the ecp-cli</li>
            <li class="collection-item">Developing an administrative client for your backend needs (user and database administration)</li>
        </ul>
    </div>
    <p class="flow-text">
        This server uses a dummy application located on the "client" folder inside your ECP.
        This dummy app is made with vanilla HTML/CSS/JS, but you can use any framework you add.
        Remember to use AJAX to make request to the server.
    </p>
    <p class="flow-text">
        <span class="red-text">
            RECOMMENDATION:
        </span>
        RUN YOUR REAL APPLICATION ON ANOTHER PLATFORM. THIS SERVER IS MEANT TO BE USED SEPERATE FROM THE CLIENT.
    </p>
</div>